 <footer class="w-full bg-black p-10">
            <section class="mx-auto w-2/3 max-w-7xl">
                <div class="flex items-center justify-center gap-3">
                    <img 
                        width="128" 
                        src="/static/theme/images/ajp_logo.png" 
                        class="object-contain"
                    />
                    <div class="flex gap-20">
                        <div class="flex flex-col gap-3 font-medium text-gray-100">
                            <div class="relative w-full flex items-center gap-3">
                                <h1 class="w-fit text-xl text-amber-500"
                                >
                                    Kontakt
                                </h1>
                                <span class="h-[2px] flex-1 bg-amber-500"></span>
                            </div>
                            <h2 class="text-lg font-semibold">
                                Wydział Techniczny </br> Akademii im. Jakuba </br> z Paradyża
                            </h2>
                            <p class="font-normal">
                                ul. Fryderyka Chopina 52, </br> budynek 5, pokój 113 </br> 66-400 Gorzów Wielkopolski
                            </p>
                            <div class="flex gap-2">
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    width="24" height="24" 
                                    viewBox="0 0 24 24" fill="none" 
                                    stroke="currentColor" stroke-width="2" 
                                    stroke-linecap="round" 
                                    stroke-linejoin="round" 
                                    class="lucide lucide-phone-icon lucide-phone"
                                >
                                    <path d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0
                                    0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"/>
                                </svg>
                                <p class="font-normal">
                                    Tel./fax: +48 95 72 79 536  
                                </p>
                            </div>
                            <div class="flex gap-2 font-normal text-amber-500">
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    width="24" height="24" 
                                    viewBox="0 0 24 24" fill="none" 
                                    stroke="currentColor" stroke-width="2" 
                                    stroke-linecap="round" 
                                    stroke-linejoin="round" 
                                    class="lucide lucide-mail-icon lucide-mail"
                                >
                                    <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"/>
                                    <rect x="2" y="4" width="20" height="16" rx="2"/>
                                </svg>
                                <a href="mailto:wt@ajp.edu.pl">E-mail: wt@ajp.edu.pl</a>
                            </div>
                        </div>
                          <div class="flex flex-col gap-3 font-medium text-gray-100">
                            <div class="relative w-full flex items-center gap-3">
                                <h1 class="w-fit text-xl text-amber-500"
                                >
                                    Sekretariat
                                </h1>
                                <span class="h-[2px] flex-1 bg-amber-500"></span>
                            </div>
                            <p class="font-normal">
                                ul. Fryderyka Chopina 52, </br> budynek 5, pokój 113 </br> 66-400 Gorzów Wielkopolski
                            </p>
                            <div class="flex gap-2">
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    width="24" height="24" 
                                    viewBox="0 0 24 24" fill="none" 
                                    stroke="currentColor" stroke-width="2" 
                                    stroke-linecap="round" 
                                    stroke-linejoin="round" 
                                    class="lucide lucide-phone-icon lucide-phone"
                                >
                                    <path d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0
                                    0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"/>
                                </svg>
                                <p class="font-normal">
                                    Tel./fax: +48 95 72 79 536  
                                </p>
                            </div>
                            <div class="flex gap-2 text-amber-500 font-normal">
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    width="24" height="24" 
                                    viewBox="0 0 24 24" fill="none" 
                                    stroke="currentColor" stroke-width="2" 
                                    stroke-linecap="round" 
                                    stroke-linejoin="round" 
                                    class="lucide lucide-mail-icon lucide-mail"
                                >
                                    <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"/>
                                    <rect x="2" y="4" width="20" height="16" rx="2"/>
                                </svg>
                                <a href="mailto:wt@ajp.edu.pl">E-mail: wt@ajp.edu.pl</a>
                            </div>
                                <p>
                                    Godziny przyjęć interesantów
                                </p>
                                <p class="font-normal">
                                    od poniedziałku do piątku: </br> 8:00-14:30
                                </p>
                                <p class="font-normal">
                                    przyjmowanie skarg i wniosków: </br> 10:00-14:00
                                </p>
                        </div>
                          <div class="flex flex-col gap-3 font-medium text-gray-100">
                            <div class="relative w-full flex items-center gap-3">
                                <h1 class="w-fit text-xl text-amber-500"
                                >
                                    Dziekanat
                                </h1>
                                <span class="h-[2px] flex-1 bg-amber-500"></span>
                            </div>
                            <p class="font-normal">
                               Zespół dziekanatów </br>
                                ul. Fryderyka Chopina 52, </br>
                                budynek 7, pokój 2
                            </p>
                            <div class="flex gap-2">
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    width="24" height="24" 
                                    viewBox="0 0 24 24" fill="none" 
                                    stroke="currentColor" stroke-width="2" 
                                    stroke-linecap="round" 
                                    stroke-linejoin="round" 
                                    class="lucide lucide-phone-icon lucide-phone"
                                >
                                    <path d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0
                                    0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"/>
                                </svg>
                                <p class="font-normal">
                                    Tel.: +48 95 72 16 097  
                                </p>
                            </div>
                            <p>Godziny przyjęć:</p>
                            <p class="font-normal">od poniedziałku do piątku: </br> 8:00-12:00</p>
                            <p class="font-normal">W czasie zjazdów: </br> Sobota - godz. 9:00-13:00</p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="flex gap-3 w-fit ml-auto">
                <a 
                    target="_blank"
                    href="https://www.facebook.com/ajpgorzow"
                    class="text-gray-100 p-2 rounded-full flex items-center justify-center border border-gray-100 hover:bg-gray-900/50"
                >
                    <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        width="24" height="24" 
                        viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2" 
                        stroke-linecap="round" stroke-linejoin="round" 
                        class="lucide lucide-facebook-icon lucide-facebook"
                    >
                        <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/>
                    </svg>
                </a>
                <a
                    target="_blank"
                    href="https://www.instagram.com/azsajpgorzow"
                    class="text-gray-100 p-2 rounded-full flex items-center justify-center border border-gray-100 hover:bg-gray-900/50"
                >
                    <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        width="24" height="24" 
                        viewBox="0 0 24 24" fill="none" 
                        stroke="currentColor" stroke-width="2" 
                        stroke-linecap="round" stroke-linejoin="round" 
                        class="lucide lucide-instagram-icon lucide-instagram"
                    >
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"/>
                        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/>
                        <line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/>
                    </svg>
                </a>
                <div class="flex gap-3">
                    <a target="_blank" href="https://github.com/Sandybanks" class="flex items-center gap-2 text-gray-100 px-2 rounded-full uppercase font-medium text-xs border
                     border-gray-100 cursor-pointer hover:bg-gray-900/50">
                        Front-end:
                      
                        <svg 
                            xmlns="http://www.w3.org/2000/svg" 
                            width="24" height="24" 
                            viewBox="0 0 24 24" fill="none" 
                            stroke="currentColor" stroke-width="2" 
                            stroke-linecap="round" stroke-linejoin="round" 
                            class="lucide lucide-github-icon lucide-github"
                        >
                            <path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6
                            2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"/>
                            <path d="M9 18c-4.51 2-5-2-7-2"/>
                        </svg>
                    
                    </a>
                   <a target="_blank" href="#" class="flex items-center gap-2 text-gray-100 px-2 rounded-full uppercase font-medium text-xs border
                        border-gray-100 cursor-pointer hover:bg-gray-900/50">
                        Back-end:
                        <svg 
                            xmlns="http://www.w3.org/2000/svg" 
                            width="24" height="24" 
                            viewBox="0 0 24 24" fill="none" 
                            stroke="currentColor" stroke-width="2" 
                            stroke-linecap="round" stroke-linejoin="round" 
                            class="lucide lucide-github-icon lucide-github"
                        >
                            <path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6
                            2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"/>
                            <path d="M9 18c-4.51 2-5-2-7-2"/>
                        </svg>
                  
                    </a>
                    <a target="_blank" href="https://github.com/jakubtokarczykajp" class="flex items-center gap-2 text-gray-100 px-2 rounded-full uppercase font-medium text-xs border
                     border-gray-100 cursor-pointer hover:bg-gray-900/50">
                        Dev-ops:
               
                        <svg 
                            xmlns="http://www.w3.org/2000/svg" 
                            width="24" height="24" 
                            viewBox="0 0 24 24" fill="none" 
                            stroke="currentColor" stroke-width="2" 
                            stroke-linecap="round" stroke-linejoin="round" 
                            class="lucide lucide-github-icon lucide-github"
                        >
                            <path d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6
                            2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"/>
                            <path d="M9 18c-4.51 2-5-2-7-2"/>
                        </svg>
                   
                    </a>
                </div>
            </div>
        </footer>