name: Deploy pythonanywhere webapp

on:
  # Triggers the workflow when you push to the main branch
  push:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab in GitHub
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    # Dodaj tę linię, aby wskazać konkretne środowisko GitHub (np. 'deployment', 'production')
    # Dzięki temu job będzie miał dostęp do sekretów zdefiniowanych w tym środowisku.
    environment: deployment

    # Define environment variables for the entire job, sourcing them securely from GitHub Secrets.
    env:
      PA_HOST: ${{ secrets.PYTHONANYWHERE_HOST }}
      PA_USERNAME: ${{ secrets.PYTHONANYWHERE_USERNAME }}
      PA_TOKEN: ${{ secrets.PYTHONANYWHERE_API_TOKEN }}
      PA_DOMAIN: ${{ secrets.PYTHONANYWHERE_DOMAIN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Re-Deploy Pythonanywhere Django API
        uses: umuttopalak/pythonanywhere-deploy-action@v1.1.0
        with:
          # Now referencing the variables defined in the job's 'env' block
          host: ${{ env.PA_HOST }} 
          # Your PythonAnywhere username
          username: ${{ env.PA_USERNAME }} 
          # Your PythonAnywhere API token (Crucial for automation)
          api_token: ${{ env.PA_TOKEN }} 
          # The domain name of your web app (e.g., 'yourusername.pythonanywhere.com')
          domain_name: ${{ env.PA_DOMAIN }}
